
@use 'vars';

div.phasesBannerBorder {
    margin: auto;
    width: fit-content;
}

div.phasesBannerCurrentPhase {
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
    padding-bottom: vars.$spacer;
}

div.phasesBannerHoverPhaseAction {
    width: fit-content;
}
