

div.settingsUserRow {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0;
    margin: 0;
};


div.settingsGameRow {
    display: flex;
};

div.settingsGameHost {
    margin-inline-end: 5px;
};

div.settingsGameStatus {
    margin-inline-end: 5px;    
};
