
@use 'vars';
@use 'sass:map';

div.basePage {
    width: 100vw;
    height: 100vh;
    background-color: vars.$page0;
    overflow-y: scroll;
    @media screen and (min-width: map.get(vars.$breakpoints, 'des')) {
        background-color: vars.$pagen1;
        height: 95vh;
        padding-top: 5vh;
        overflow-y: auto;
    }
}

div.baseBody {
    width: auto;
    padding: vars.$spacer;
    @media screen and (min-width: map.get(vars.$breakpoints, 'des')) {
        height: 500px;
        position: relative;
        width: 900px;
        border: solid black 1px;
        border-radius: 5px;
        margin: auto;
        background-color: vars.$page0;
    }
}
