
@use 'vars';
@use 'board';

div.card {
    @extend .overboard;
    padding: 5px;
    border-radius: 5px;
    border: solid black 1px;
    background-color: vars.$bg1;
}

div.headerRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.headerRow div {
    padding: 3px;
}

div.headerRow div:not(:last-child) {
    margin-right: auto;
}

