
div.messageBody {
    max-height: 500px;
    height: 60dvh;
    display: flex;
    flex-direction: column;
}

div.messagesContainer { 
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow-y: auto;
}

div.messagesInputRow {
    width: 100%;
    display: flex;
}

input.messageInput {
    max-width: 100%;
    margin-right: var(--length1);
}

button.chatButton {
    margin-left: auto;
}

div.messageOutside {
    max-width: 80%;
    width: max-content;
    text-overflow: ellipsis;
    hyphens: auto;
    margin-right: auto;
}

div.messageOutside.owned {
    margin-right: 0;
    margin-left: auto;
}

div.messageBubble {
    width: fit-content;
    border: solid black 1px;
    padding: 5px;
    border-radius: 5px;
    background-color: lightgrey;
}

div.messageOutside.owned div.messageBubble {
    background-color: azure;
}

div.messageSender {
    font-size: x-small;
    padding: 2px;
    width:fit-content;
}

// div.messageText

