
div.chooseGameRow {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 5px;
};

div.chooseGameHost {
    margin-inline-end: 5px;
};

div.chooseGamePlayers{
    margin-inline-end: 5px;
};

div.chooseGameStatus{
    margin-inline-end: 5px;
};

div.chooseAddRow {
    margin-bottom: 5px;
}
