
path[defs] mask path {
    fill: unset;
    pointer-events: none;
}

path[overlay] {
    pointer-events: none;
}

path[hovered] {
    fill: var(--effects);
    opacity: .5;
    stroke-width: 3px;
    stroke-linecap:round;
    pointer-events:none;
}

path[selected] {
    fill: var(--effects);
    opacity: .5;
    stroke-width: 3px;
    stroke-linecap: round;   
    pointer-events: none;
}

:root {
    --land: gray;
    --water: #c6ddec;
    --coastal: azure;
    --hovered: black;
    --border: black;
    --selected: black;
    --city: black;
    --floodplain: darkgreen;
    --floodplaincity: white;
    --effects: #000050;
    --support0: #CA8C4E;
    --support1: #B0D050;
    --support2: #52D552;
    --support3: #68DABE;
    --support4: #7DAEE0;

    /* legacy support coloring
        0: 24639B
        1: ECCC2F
        2: DA8C41
        3: DC2C50
        4: D55696
    */
}

g[not-active] path {
    pointer-events: none;
}

path {
    stroke: var(--border);
    stroke-width: .25px;
    --name: attr('name');
}
text {
    --name: attr('name');
}
path[type='land'] {
    fill: var(--land)
}
path[type='cover'] {
    pointer-events: none;
    fill: var(--land);
    stroke-opacity: .5;
}
path[type='water'] {
    fill: var(--water);
}
path[type='coastal'] {
    fill: var(--coastal);
}
text {
    pointer-events: none;
    text-anchor: middle;
    fill: black;
    font-size: .3rem;
    font: 'open sans';
}

circle[support] {
    pointer-events: none;
    opacity: 1;
    fill: yellow;
    stroke-width: .25px;
    stroke: black;
}
circle[value="0"] {fill: var(--support0)}
circle[value="1"] {fill: var(--support1)}
circle[value="2"] {fill: var(--support2)}
circle[value="3"] {fill: var(--support3)}
circle[value="4"] {fill: var(--support4)}
text[support] {
    font-weight: 700;
    font-size: .45rem
}

path[type="floodplain"] {
    fill: var(--floodplain);
    opacity: .5;
    stroke: none;
}
path[type="city"] {
    fill: var(--city);
}
path[type="city"][floodplaincity] {
    fill: var(--floodplaincity);
}
path[type="volcano"] {
    fill: red;
    stroke: black;
    opacity: 1;
    stroke-opacity: .5;
}
path[layer] {
    pointer-events: none;
    opacity: 1;
}
path[contested] {
    fill: url(#crossFillSVG) !important;
}
g[hide] * {
    display: none;
}