
@use 'vars';

div.playersCardBorder {
    width: fit-content;
}

div.playersCardPlayerRow {
    width: fit-content;
}

div.playersCardCurrentPlayer {
    background-color: yellow;
    box-shadow: yellow 0 0 3px 3px;
}
